* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #34495e;
    height: 100vh;
    color: white;
    position: fixed;
}

.sidebar .logo {
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding:2px;
   margin:2px;
}

.sidebar ul li a:hover {
   background-color: #F1C40F;

}
/* Custom Style for Log Out */
.sidebar ul li.logout {
    position: absolute;
    bottom: 30px;
    width: 100%;
}

.sidebar ul li.logout a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f40808;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.sidebar ul li.logout i {
    font-size: 20px;
    margin-right: 10px;
}
.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px; 
    border-radius: 5px; 
    transition: background-color 0.3s ease-in-out; 
}

.sidebar ul li.active a {
    background-color: #f5cc28; 
    color: white; 
}