        /*Image Contain*/
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .slider {
            position: relative;
            max-width: 100%;
            max-height:500px;
            overflow: hidden;
        }
        
        .slider img {
            width: 100%;
            max-height: 500px; /* Set a max height */
            object-fit: cover;
            display: none; /* Hide all images */
        }
        
        .slider img.active {
            display: block; /* Show only the active image */
        }
        
        .prev, .next {
            position: absolute;
            top: 32%;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            border: none;
            padding: 10px;
            cursor: pointer;
            font-size: 18px;
            border-radius:15px;
        }
        
        .prev { left: 10px; }
        .next { right: 10px; }
        
        /*Body Part*/
        .container {
            display: flex;
            width: 100%;
            max-width: 100%;
            margin: 10px auto;
            gap: 20px;
        }

        .content {
            flex: 2;
            padding: 10px;
        }

        .content p{
            margin-bottom:20px;
        }
        .content h2{
            margin-top: 20px;
            margin-bottom:20px;
        }
        .content i {
        font-size: 16px; /* Adjust the size as needed */
        width: 18px; /* Ensures uniform width */
        text-align: center;
        }

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 15px;
        }
        
        .facilities-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr); /* 3 columns */
            gap: 10px; /* Space between items */
            margin-top: 10px;
        }
        .facility-box {
            display: flex;
            align-items: center;
            gap: 10px; /* Space between checkmark and text */
            background: white;
            border-radius: 8px;
            padding: 15px 20px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            font-size: 14px;
            font-weight: 500;
        }

        .facility-box i {
            color: #000000; 
        }
        .facility-box:hover {
            background: #445e78; 
            color: white; /* Change text color */
        }
        
        .facility-box:hover i {
            color: white; /* Change icon color */
        }

        table {
            width: 100%;
            border-collapse: collapse;
            
        }

        table, th, td {
            border: 1px solid #374c61;
            
            
        }

        th, td {
            padding: 10px;
            text-align: left;
            text-align: center;
            
        }

        th {
            background: #445e78;
            color: white;
            
        }

        .box-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top:15px;
        }

        .box {
            background: white;
            padding: 15px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: left;
        }
        .box:hover{
            color: white;
            background-color: #445e78;
        }

        .sidebar-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 350px;
            margin-top: 300px;
            margin-right: 20px;
        }

        .sidebar-image-container {
            width: 100%;
            height: 365px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background: #e0e0e1;
            padding: 10px;
            margin-bottom: 60px;
            margin-top: -260px;
        }

        .sidebar {
            background: white;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            width: 100%;
            height: 300px;
        }
        .sidebar h3 {
        font-size: 22px;
        margin-top: 10px;
        margin-bottom: 15px;
        font-weight: bold;
        }

        .sidebar p {
            font-size: 16px;
            margin: 20px;
            text-align: left;
        }

        .sidebar i {
            margin-right: 8px;
            color: #000000;
        }

        .book-now {
            display: block;
            width: 100%;
            max-width: 200px;
            padding: 12px 0;
            margin: 20px auto 0;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            background: #F1C40F;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        } 