body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("/static/img/image.jpg") no-repeat center center fixed;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 444px;
    height: auto;
    padding: 18px;
    background-color: rgba(248, 248, 248, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    overflow: hidden;
    box-sizing: border-box;
}

.form-section {
    width: 100%;
    background-color: rgba(245, 245, 245, 0.9);
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

/*Icon*/
.message-icon {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    background-color: #445e78;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 18px;
}

h1 {
    font-size: 22px;
    color: #333;
    margin-top: 10px;
}

p {
    font-size: 14px;
    color: #666;
    margin-top: 2px;
    margin-bottom: 20px;
    padding: 0 10px;
}

/*Button*/
.login-button {
    width: 90%;
    padding: 10px;
    background-color: #445e78;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 7px;
}
.login-button a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.login-button:hover {
    background-color: #F1C40F;
}