{% extends "base.html" %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/aboutus.css' %}">
{% endblock styles%}

{%block content %}
    <main>
        <section class="image">
            <div class="hostel-image-container">
                <img src="{% static 'aboutimg/about.jpg' %}" alt="GharKhoji Banner">
                <h1>About Us</h1>
                <p>Get to know us properly.</p>
            </div>
        </section>

        <section class="intro-section">
          <div class="intro-box">
              <div class="intro-text">
                  <h2>{{ about_content.title }}</h2>
                  <p>{{ about_content.description|linebreaks }}</p>
              </div>
              <div class="intro-image">
                  {% if about_content.image %}
                      <img src="{{ about_content.image.url }}" alt="GharKhoji Intro Image">
                  {% else %}
                      <p>No image available</p>
                  {% endif %}
              </div>
          </div>
      </section>
      
    </main>
{% endblock %}