{% load static %}
<footer class="footer">
    <div class="footer-content">
      <div class="footer-left">
        <h3>Gharkhoji</h3>
        <p>Gharkhoji is a platform that helps you find the best hostels for your stay. With a user-friendly interface, easy navigation, and comprehensive options, we aim to provide you with the perfect accommodation experience.</p>
      </div>
      <!-- Quick Links -->
      <div class="footer-links">
        <h4>Quick Links</h4>
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'aboutus' %}">About Us</a></li>
          <li><a href="{% url 'hostels' %}">Hostels</a></li>
          <li><a href="{% url 'contactus' %}">Contact Us</a></li>
        </ul>
      </div>
      <!-- Our Details -->
      <div class="footer-right">
        <div class="our-details">
          <h4>Our Details</h4>
          <div class="contact-info">
            <p><i class="fas fa-map-marker-alt"></i> Address: Kathmandu, Nepal</p>
            <p><i class="fas fa-phone-alt"></i> Phone: +977 123 456 789</p>
            <p><i class="fas fa-envelope"></i> Email: info@gharkhoji.com</p>
          </div>
        </div>
      </div>
      <!-- Follow Us -->
      <div class="footer-social">
        <h4>Follow Us</h4>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
    <!-- Footer Bottom -->
    <div class="footer-bottom">
      <p>&copy; 2025 GharKhoji. All rights reserved. | Designed with ❤️|</p>
    </div>
</footer>
 