{% extends "hostelbase.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/hostelownerdashboard.css' %}">
{% endblock styles %}
{% block content %}
    <div class="main-content">
        <div id="dashboard-section">
            <h1>Hello Neha,</h1>
            <div class="cards">
                <div class="card blue">
                    <i class="fas fa-users fa-2x"></i>
                    <h2>4</h2>
                    <p>TOTAL USERS</p>
                </div>
                <div class="card green">
                    <i class="fas fa-book fa-2x"></i>
                    <h2>5</h2>
                    <p>TOTAL BOOKINGS</p>
                </div>
                <div class="card orange">
                    <i class="fas fa-bed fa-2x"></i>
                    <h2>10</h2>
                    <p>TOTAL ROOMS</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}