{% extends "hostelbase.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/hostelownerprofile.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
{% endblock styles %}
{% block content %}
    <div class="container">
        <div class="content">
            <h2>Account Settings</h2>
            {% if messages %}
                    <div class="message-container">
                        <ul>
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            <form method="post" id="profile-form">
                {% csrf_token %}
                <div class="form-group">
                    <div class="profile">
                        {{ user.first_name|default:user.username|slice:":1"|upper }}
                    </div>
                    <label>First Name</label>
                    <div class="input-wrapper">
                        <input type="text" class="form-input" name="first_name" value="{{ user.first_name }}" readonly>
                        <span class="edit-icon" onclick="enableField(this)"><i class="fa-solid fa-pencil"></i></span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label>Last Name</label>
                    <div class="input-wrapper">
                        <input type="text" class="form-input" name="last_name" value="{{ user.last_name }}" readonly>
                        <span class="edit-icon" onclick="enableField(this)"><i class="fa-solid fa-pencil"></i></span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label>Email</label>
                    <div class="input-wrapper">
                        <input type="email" class="form-input" name="email" value="{{ user.email }}" readonly>
                        <span class="edit-icon" onclick="enableField(this)"><i class="fa-solid fa-pencil"></i></span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label>Username</label>
                    <div class="input-wrapper">
                        <input type="text" class="form-input" name="username" value="{{ user.username }}" readonly>
                        <span class="edit-icon" onclick="enableField(this)"><i class="fa-solid fa-pencil"></i></span>
                    </div>
                </div>
                
                <div class="buttons">
                    <button type="submit" class="update-btn" id="save-btn">Save</button>
                    <button type="button" class="cancel-btn" onclick="disableAllFields()">Cancel</button>
                </div>
             </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/profile.js' %}"></script>
{% endblock %}

    