<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp Page</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>
<body>
    <form action="{% url 'signup' %}" method="post">
        {% csrf_token %}
        <div class="container">
            <div class="form-section">
                <h1>Sign up to discover your ideal stay!</h1>
                <p>Sign up to agree to the use of your information.</p>
                <div class="name-container">
                <div class="input-container">
                    <input type="text" placeholder="First Name" id="firstname" name="firstname" class="form-control {% if errors.firstname %}is-invalid{% endif %}" value="{{ request.POST.firstname }}">
                    {% if errors.firstname %}
                    <div class="invalid-feedback">{{ errors.firstname }}</div>
                    {% endif %}
                </div>

                <div class="input-container">
                    <input type="text" placeholder="Last Name" id="lastname" name="lastname" class="form-control {% if errors.lastname %}is-invalid{% endif %}" value="{{ request.POST.lastname }}">
                    {% if errors.lastname %}
                    <div class="invalid-feedback">{{ errors.lastname }}</div>
                    {% endif %}
                    </div>
                </div>

                <div class="input-container">
                    <input type="text" placeholder="Email" id="email" name="email" class="form-control {% if errors.email %}is-invalid{% endif %}" value="{{ request.POST.email }}">
                    {% if errors.email %}
                    <div class="invalid-feedback">{{ errors.email }}</div>
                    {% endif %}
                </div>

                <div class="input-container">
                    <input type="text" placeholder="Username" id="username" name="username"  class="form-control {% if errors.username %}is-invalid{% endif %}" value="{{ request.POST.username }}">
                    {% if errors.username %}
                    <div class="invalid-feedback">{{ errors.username }}</div>
                    {% endif %}
                    
                </div>

                <div class="input-container">
                    <input type="password" placeholder="Password" id="password" name="password" class="form-control {% if errors.password %}is-invalid{% endif %}">
                    {% if errors.password %}
                    <div class="invalid-feedback">{{ errors.password }}</div>
                    {% endif %}
                    <button class="btn btn-outline-secondary" type="button" id="pass-toggle-password" onclick="togglePassword('password')">
                        <i id="password-icon" class="fas fa-eye"></i>
                    </button>
                </div>
                
                <div class="input-container">
                    <input type="password" placeholder="Confirm Password" id="confirmpassword" name="confirmpassword"class="form-control {% if errors.confirmpassword %}is-invalid{% endif %}">
                    {% if errors.confirmpassword %}
                    <div class="invalid-feedback">{{ errors.confirmpassword }}</div>
                    {% endif %}
                    <button class="btn btn-outline-secondary" type="button" id="pass-toggle-confirmpassword" onclick="togglePassword('confirmpassword')">
                        <i id="confirmpassword-icon" class="fas fa-eye"></i>
                    </button>
                </div>
                
                <div class="input-container">
                    <select id="role" name="role" class="form-control {% if errors.role %}is-invalid{% endif %}">
                        <option value="" disabled selected>Select Your Role</option>
                        <option value="user" {% if request.POST.role == 'user' %}selected{% endif %}>User</option>
                        <option value="hostel_owner" {% if request.POST.role == 'hostel_owner' %}selected{% endif %}>Hostel Owner</option>
                    </select>
                    {% if errors.role %}
                    <div class="invalid-feedback">{{ errors.role }}</div>
                    {% endif %}
                </div>    

                <button type="submit" class="signup-button">Sign Up</button>
                
                <div class="footer-text">
                    <p>Already have an Account? <a href="{% url 'login' %}">Login</a></p>
                </div>
            </div>
        </div>
    </form>

   <script src="{% static 'js/signup.js' %}"></script>
</body>
</html>
